* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    background-color: #fffcfa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 65px;
    width: auto;
    display: block;
    margin: .5em;
}

header {
    height: auto;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 3em;
    padding-bottom: 1em;
    background-color: #69451b;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    color: #fbf6f2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

nav a,
nav span {
    color: #fbf6f2;
    text-decoration: none;
    font-size: 1.07em;
}

.dropdown {
    position: relative;
    z-index: 1000;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: #e0d6cc;
    padding: 0;
    margin: 0;
    width: auto;
    font-size: 0.9em;
}

.dropdown:hover .dropdown-menu {
    position: absolute;
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 12px;
    color: #090908;
}

.dropdown-menu li a:hover {
    background: #be987a;
}

#homehero {
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 1365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090908;
}

#homehero img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 100%;
    opacity: 45%;
}

#homehero .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbf6f2;
    text-shadow: 2px 2px 8px rgba(105, 69, 27, 0.7);
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
}

.thumbnaildescription .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #69451b;
    color: #fbf6f2;
    text-decoration: none;
    border-radius: 5px;
}

.thumbnaildescription .btn:hover {
    background-color: #be987a;
}

main {
    margin: 3vh;
    padding: 1em 5%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 3em 0;
    flex-wrap: wrap;
}

.section.reverse {
    flex-direction: row-reverse;
}

.indexthumbbox {
    flex: 1 1 300px;
    height: auto;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

.indexthumbbox img {
    width: 100%;
    height: auto;
}

.thumbnaildescription {
    flex: 1 1 250px;
    max-width: 500px;
}

.thumbnaildescription h1 {
    margin-bottom: 0.3em;
    font-size: 2em;
    display: flex;
}

.thumbnaildescription h2 {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.thumbnaildescription p {
    margin-bottom: 1.5em;
    line-height: 1.6;
}

.thumbnaildescription button {
    padding: 10px 20px;
    font-size: 1em;
}

.tableheader {
    margin: 1em 0 3em 0;
}

.tableheadcontainer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.tablecontainer {
    width: 100%;
    height: auto;
    flex: content;
    padding: 1% 3%;
    margin-bottom: .5em;
    font-size: max(1em, 1.5vw);
}

.imgcontainer {
    flex: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.imgcontainer img {
    height: auto;
    width: 100%;
    max-width: 725px;
    align-items: right;
}

.imgcontainer video {
    display: block;
    width: 100%;
    max-width: 100vh;
    height: auto;
    margin: 0 auto;
}




.tableheader table {
    border-collapse: collapse;
    margin-bottom: auto;
}

.tableheader td {
    padding: 8px 20px 8px 0;
}

.location-description {
    margin-top: 0;
    text-align: left;
    max-width: 700px;
    line-height: 1.6;
}

.photogrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 2em;
}


.images img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.imagesimg:active {
    transform: scale(1.8);
    z-index: 999;
    position: relative;
}

.images h2 {
    font-size: large;
    display: flex;
    justify-content: space-between;
    margin-inline: .5em;
}

.images p {
    margin-inline: .6em;
}

.images span {
    color: #69451b;
}

.images {
    margin-top: 0.5em;
    line-height: 1.4;
}

footer,
footer a,
footer a:link,
footer a:visited {
    text-decoration: none;
    color: #090908;
    margin-top: 0;
    padding: 0;
}

footer a:hover {
    text-decoration: underline;
}

.topfoot {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    flex-wrap: wrap;
    gap: 1em;
}

.rightfoot {
    display: flex;
    flex-wrap: wrap;
}

hr {
    border: none;
    height: 1.5px;
    background-color: #69451b;
    margin: 0.5em;
}

.bottomfoot {
    text-align: center;
    font-style: italic;
    margin-bottom: .5em;
}

form {
    max-width: 1100px;
    margin: 2em auto;
    padding: 2em;
    background-color: #e0d6cc;
    border: 1px solid #ccb7a6;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

form label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fbf6f2;
    border-radius: 6px;
    font-size: 1em;
}

form input[type="submit"] {
    margin-top: 1.5em;
    background-color: #69451b;
    color: #fbf6f2;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #be987a;
}

.contactcontainer {
    max-width: 1100px;
    margin: 2em auto;
    padding: 0 2em;
}

.contactcontainer h2,
.contactcontainer h3,
.contactcontainer p {
    color: gray;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.abtcard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-inline: 10%;
}

.abtcard img {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.abtcontent {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.abtcontent h1 {
    margin-bottom: .35em;
}

.abtcontent a {
    color: #be987a;
    text-decoration: none;
}

.abtcontent a:hover {
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .photogrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        margin-top: 2em;
    }
}

@media (max-width: 920px) {
    .section {

        flex-direction: column;
        text-align: left;
    }

    .section.reverse {
        flex-direction: column;
    }

    .indexthumbbox {
        max-width: 100%;
    }

    .description {
        max-width: 100%;
    }

    .description h1 {
        font-size: 3vh;
    }

    .description h2 {
        font-size: 2vh;
    }

    .tableheadcontainer {
        margin: 2em 0em 0em 0em;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }

    .tablecontainer,
    .imgcontainer,
    .abtcontainer {
        flex: auto;
    }
}

@media (max-width: 900px) {

    .abtcard img {
        flex: 1;
        max-width: 70%;
        height: auto;
    }

    .abtcard {
        flex-direction: column;
        gap: 10px;
    }

    .abtcontent {
        text-align: center;
    }
}

@media (max-width: 650px) {

    .logo img {
        height: 40px;

    }

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    header h1 {
        margin-bottom: 0.5em;
    }

    nav ul {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5em;
    }

    .photogrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    form {
        width: 100%;
        padding: 1.5em;
        border-radius: 0;
    }

    form input,
    form textarea {
        font-size: 0.95rem;
    }
}
